<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/codeVerification.css">
  <title>Email Verification</title>

</head>
<body>

<div class="container">
  <h2>Email Verification</h2>
  <form action="verify-code" method="POST" id="userForm">
    <!-- Disabled email field populated with user's email -->
    <input type="email" name="email" value="<%= email %>" disabled>
    
    <!-- Hidden email field to pass the email as a POST parameter -->
    <input type="hidden" name="email" value="<%= email %>">
    
    <!-- Input for 4-digit code -->
    <input type="text" name="code" maxlength="4" placeholder="Enter 4-digit code" required pattern="\d{4}" title="Please enter a 4-digit code">
    
    <!-- Submit button -->
    <button type="submit" class="btn-submit">Verify</button>
  </form>
</div>

</body>
</html>
