<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 20px;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <form action="/note/create" method="POST">
        <input type="text" name="title" placeholder="Title goes here">
        <textarea name="content"></textarea>
        <input type="submit" value="Save">
    </form>
</body>
</html>



