<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Note</title>
    <style>
        h1{
            margin:10px;
        }
       .note {
         margin: 20px;
         width:200px;
         /* height:50px; */
         background-color: #acacde;
         /* display:flex;
         align-items: center;
         justify-content: center; */
         border-radius: 5px;
       }
    </style>
</head>
<body>
    <h1>Create New Note</h1>
    <button onclick="window.location='new'">Create Note</button>
    <% for(note of allNotes){ %>
        <div class="note" id="noteId1">
        <h4><%= note.title %></h4>
        <a href="<%= note._id %>">See more</a>
        </div>
  <%  } %>
</body>
</html>