<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/noteHomePage.css">
    <title>Create New Note</title>
</head>
<body>
    <h1>
        <%= user.name %>, it's great to see you
    </h1>
    <h3>Create New Note</h3>
    <button onclick="window.location='/api/note/new'">Create Note</button>
    <h3>Your All Notes</h3>
    <div class="grid">
        <% if (user.notes.length === 0){ %>
            <p>You Don't have any notes. Let's create your first note</p>
            <% }else{ %>
                <% for(note of user.notes) { %>
                    <div class="note" id="noteId1">
                        <h4>
                            <%= note.title %>
                        </h4>
                        <span id="readBtn"><a href="/api/note/read/<%= note._id %>">See more</a></span>
                        <span id="delBtn"><a href="/api/note/remove/<%= note._id%>"><i class="fa-solid fa-trash"></i></a></span>
                        
                    </div>
                    <% } %>
                    <% } %>
    </div>
</body>
</html>