body{
    background-color: rgb(212, 241, 239);
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
h1 {
    margin: 10px;
}
.note {
    margin: 20px;
    width: 200px;
    height:100px;
    background-color: #ffaaaa;
    padding:7px;
    border-radius: 5px;
}
#readBtn{
    float:left;
    margin-right: 10px;
}
#delBtn{
    float:right;
    margin-right: 10px;
}
