
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}
.note-container {
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 5px;
  position: relative;
}
.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}
.note-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
input, textarea {
  width: 95%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: rgb(235, 235, 235);
  resize: none;
}
#inputContent {
  display: none;
}
input:disabled, textarea:disabled {
  background-color: rgb(200, 200, 200);
  color: #555;
}
.btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.btn-edit {
  background-color: #007bff;
  color: #fff;
}
.btn-edit:hover {
  background-color: #0056b3;
}
.btn-update {
  background-color: #28a745;
  color: #fff;
  display: none;
}
.btn-update:hover {
  background-color: #218838;
}
.imageSection {
  display: flex;
  flex-wrap: wrap;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.image-box img {
  max-width: 100px;
  display: block;
}

.delete-button {
  margin-top: 10px;
  color: white;
  background-color: red;
  border: none;
  padding: 5px;
  cursor: pointer;
}
